@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}


body{
    min-height: 100vh;
    max-width: 100%;
}

body header{
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    z-index: 1;
    background: #f1f1f1;
}

body header .logo{

    margin-left: 30px;
    width: 350px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body header .logo img{
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

body header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
    width: 600px;
}

body header nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 2px 0;
}

body header nav ul li a{
    text-decoration: none;
    color: #0f010f;
    font-size: 20px;
    text-transform: uppercase;
}

section{
    position: relative;
    top: 6rem;
}

/* Debut de la secdtion hero */


body .hero{
    height: 100vh;
    width: 100%;
    background: url("./imgs/background.jpg") rgba(10, 11, 256, 0.19);
}

body .hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body .hero h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 50px;
}

body .hero p{
    text-align: center;
    margin: 30px;
}


body .about-us{
    height: 100vh;
    width: 100%;
}

body .about-us h2{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 30px 20px;
}

body .about-us .about{
    display: flex;
    margin-left: 200px;
    justify-content: space-between;
    align-items: center;
    max-width: 1120px;
}

body .about-us .about .about-text{
    width: 40%;
    height: 70%;
}

body .about-us .about .about-text h3{
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}

body .about-us .about .about-text p{
    font-size: 15px;
}

body .about-us .about .photo{
    margin-top: 30px;
    width: 40%;
    height: 100%;
}

body .about-us .about .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}