@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    min-height: 100vh;
    max-width: 100%;
}

body header{
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}